<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Filter Demo</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
    </script>

    <script src="{{url_for('static', filename='js/heatmap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/leaflet-heatmap.js')}}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/map-filter.css')}}">
</head>
<body style="background-color: #092635;">

    <input type="month" id="filter-date">
    <button onclick="applyDateFilter()">Apply Filter</button>

    <label for="min-temperature"></label>
    <input type="number" id="min-temperature" placeholder="Min temperature">
    <label for="max-temperature"></label>
    <input type="number" id="max-temperature" placeholder="Max temperature">
    <button onclick="applyTemperatureRangeFilter()">Apply Temperature Range Filter</button>

    <div id="container">
        <div id="map"></div>
    </div>
<script>
    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": 2,
        "maxOpacity": .8,
        // scales the radius based on map zoom
        "scaleRadius": true,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        // "useLocalExtrema": true,
        // which field name in your data represents the latitude - default "lat"
        latField: 'latitude',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'longitude',
        // which field name in your data represents the data value - default "value"
        valueField: 'humidity'
    };

    var heatmapLayer = new HeatmapOverlay(cfg);
    var baseLayer = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 15,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });

    var map = new L.Map('map', {
        center: new L.LatLng(0, -160),
        zoom: 4,
        layers: [baseLayer, heatmapLayer]
    });

    window.onload = function() {
        fetch('/initial-data')
            .then(response => response.json())
            .then(data => {
                heatmapLayer.setData({
                    max: 100,  
                    data: data.map(row => ({
                        latitude: row.latitude,
                        longitude: row.longitude,
                        humidity: row.humidity
                    }))
                });
            })
            .catch(error => {
                console.error('Error fetching initial data:', error);
            });
    };
    function updateLatLong() {
        if (map != null) {
            const center = map.getCenter();
            const latitudeElement = document.getElementById('latitude');
            const longitudeElement = document.getElementById('longitude');
            
            if (latitudeElement && longitudeElement) {
                latitudeElement.value = center.lat;
                longitudeElement.value = center.lng;
            }
        }
    }
    map.on('move', updateLatLong);
    function fetchInitialData() {
    fetch('/map-filter-data')
        .then(response => response.json())
        .then(data => {
            heatmapLayer.setData({
                max: 100,  
                data: data.map(row => ({
                    latitude: row.latitude,
                    longitude: row.longitude,
                    humidity: row.humidity
                }))
            });
        })
        .catch(error => {
            console.error('Error fetching initial data:', error);
        });
}

function applyDateFilter() {
    const selectedDate = document.getElementById('filter-date').value;   
    const date = new Date(selectedDate);
    date.setDate(date.getDate()+2);
    const monthNumber = date.getMonth() + 1;
    const year = date.getFullYear() - 1900;
    
    fetch(`/map-filter-data?month=${monthNumber}&year=${year}`)
        .then(response => response.json())
        .then(data => {
            heatmapLayer.setData({
                max: 100, 
                data: data.map(row => ({
                    latitude: row.latitude,
                    longitude: row.longitude,
                    humidity: row.humidity
                }))
            });
        })
        .catch(error => {
            console.error('Error fetching filtered data:', error);
        });
}

function applyTemperatureRangeFilter() {
    const minTemperature = document.getElementById('min-temperature').value;
    const maxTemperature = document.getElementById('max-temperature').value;

    fetch(`/map-filter-data?minTemperature=${minTemperature}&maxTemperature=${maxTemperature}`)
        .then(response => response.json())
        .then(data => {
            heatmapLayer.setData({
                max: 100, 
                data: data.map(row => ({
                    latitude: row.latitude,
                    longitude: row.longitude,
                    humidity: row.humidity
                }))
            });
        })
        .catch(error => {
            console.error('Error fetching filtered data:', error);
        });
}

window.onload = fetchInitialData;
    
</script>
</body>
</html>
