/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Button Styles */
#button {
    background-color: #1B4242; /* Green */
    border: 3px solid #9EC8B9;
    font-weight: 600px;
    color: #9EC8B9;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.container {
    display: flex;
    align-items: left;
    padding-left: 20px;
}

.container h1 {
    padding-left: 10px;
}

.display {
    padding-top: 20px;
    color: #9EC8B9; 
}

.display a {
    color: #5C8374;
}
table#user-table {
    background-color: #9EC8B9;
    margin: auto;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 26px); /* Adjusted width to accommodate padding */
    background-color: #9EC8B9;
    color: #092635;
    border-radius: 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    font-weight: 600;
}

input:focus {
    border: 3px solid #5C8374;
}

input::placeholder {
    color: #092635;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 15px;
}

input[type=submit] {
    background-color: #1B4242;
    color: #9EC8B9;
    border: 3px solid #9EC8B9;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 15px;
    width: 250px;
}

input[type=submit]:active {
    background-color: #5C8374;
}

.login-menu {
    display: flex;
    flex-direction: column;
}

.login-menu h1 {
    padding: 3px 0px;
}

.login-menu p {
    padding-bottom: 10px;
    text-align: center;
}
