.DS_Store
.idea
code/venv
code/__pycache__
code/test/__pycache__
code/hurriscan.db
code/sendgrid.env
venv
.venv
.pytest_cache
test/__pycache__
code/test/__pycache__
server/hurriscan.db
code/login/__pycache__
server/routing/__pycache__
server/__pycache__
*/__pycache__