<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var months = {{ months|tojson }};
        var temperatures = {{ temperatures|tojson }};
        var backgroundColors = [
            'rgba(255, 99, 132, 0.2)', 
            'rgba(54, 162, 235, 0.2)', 
            'rgba(183, 128, 86, 0.2)',
            'rgba(62, 3, 123, 0.2)', 
            'rgba(101, 47, 124, 0.2)', 
            'rgba(83, 220, 87, 0.2)', 
            'rgba(200, 222, 14, 0.2)', 
            'rgba(255, 150, 228, 0.2)', 
            'rgba(130, 151, 203, 0.2)', 
            'rgba(67, 99, 254, 0.2)', 
            'rgba(20, 101, 127, 0.2)', 
            'rgba(8, 74, 43, 0.2)',  
];
        var borderColors = [
            'rgba(0,0,0,0.5)', 
];
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: months,
        datasets: [{
            label: 'Total Temperature',
            data: temperatures,
            backgroundColor: backgroundColors,
            borderColor: borderColors,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script> 
</body>
</html>
