<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Map with Leaflet</title>

    <!--    data-->
    <script src="{{ url_for('static', filename='js/data.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-dashboard.css') }}">
    <style>
        /* Set the size of the body to take up the full screen */
        body {
            margin: 0;
            height: 100vh;
            width: 70%;
            display: flex;
        }
    </style>
</head>
<body>
<div id="map-filter">
    <iframe src="map-filter" frameborder="0" style="width: 300%; height: 100%;"></iframe>
</div>  
<div id="data-visualization">
    <iframe src="data-visualization" frameborder="0" style="position:absolute; left: 50%; width: 50%; height: 600px;"></iframe>
</div>

<div id="filter-visualization">
    <iframe src="{{ url_for('data_visualization.get_monthly_data', year=94, month=8) }}" frameborder="0"></iframe>
</div>

</body>
</html>