.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF7FF; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-section {
    align-items: center;
}

.exit-button {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    background-color: #C1DBF3; 
    color: black;
    padding: 10px 20px; 
    border-radius: 15px; 
    border: none; 
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
}

.exit-button:hover {
    background-color: #C0C0C0; 
}


.logo-section {
    width: 50px;
    position: relative;
    top: 10px;
}

.navbar-title {
    color: #6A4C93; 
    font-size: 44px;
    margin-left: 550px; 
}
.navbar-tile img {
    margin: 0px;
}

.navbar-icon {
    height: 50px; 
}

/* The right side panel */
.right-side-panel {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; 
    background-color: #C4A8FF; 
    overflow-x: hidden;
    transition: 0.3s; 
    padding-top: 60px; 
}

/* The close button inside the right side panel */
.closebtn-right {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 15px;
}

.menu-options a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
    display: block; 
}

.menu-options a:hover {
    background-color: #f1f1f1;
    color: black;
}

/* Aligns the 'Menu' title towards the right side of the side panel */
.menu-title {
    margin-left: 15px; 
}


