#image-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  gap: 20px;
  width: 10%; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
}

/* Style for the image */
#image-container img {
  max-width: 10%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
}
