<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/registration.css')}}">
    <title>HurriScan Login
    </title>
</head>


<body>
    

    <header>
        <div class = "container">
            <img src="{{url_for('static', filename='images/radar logo/new-logo.png')}}">
            <h1> HurriScan</h1>
        </div>
    </header>

    <div class = "display">
        <div class="container">
            <div class="login-menu">
                <h1>Sign Up</h1>
                <p style = "text-align:left;">Tell us a bit about yourself!</p>
                <form action="#.html">
                    
                    <input type="text" id="fname" name="fname" placeholder="First Name"><br>
                    
                    <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
                    <input type="text" id = "dob", name="dob" placeholder="Date of Birth" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <input type="submit" value="Register">
                </form>
                <p>Already have an account? <a href="login.html">Log In</a></p>
            </div>
            <img src="{{url_for('static', filename = 'images/loginImg.png')}}">
        </div>
    </div>


</body>
</html>