<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HurriScan</title>
    <link rel = "stylesheet" href= "static/css/nav-bar-css.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    

<div class="navbar">

    <div class="navbar-section">
        <img src="{{url_for('static', filename='images/filter.png')}}" alt="Left Icon" class="navbar-icon" onclick="openNav()"> 
       
    </div>

    <div class="navbar-title">
        <img src="{{url_for('static', filename='images/new-logo.png')}}" alt="Logo Icon" class = "logo-section" > 
        <h1>HurriScan</h1>  
    </div>
    
    <div class="navbar-section">
        <img src="{{url_for('static', filename='images/profile_icon.png')}}" alt="Right Icon" class="navbar-icon" onclick="openRightNav()">
        <p> {{ username }}</p>
    </div>

</div>

<iframe src="{{ url_for('user_dashboard.dashboard') }}" style="width:100%; height: 100vh; border:none;" ></iframe>
<!-- <iframe src="/code/templates/alerts.html" style="width:100%; height: 100%; border:none;"></iframe>  -->
<body>
    
<div id="sidePanel" class="side-panel">
    <!-- Close button -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <h2>Filter Options</h2>
    
    <!-- Location Filter Section -->
    <div class="location-section">
        <h3>Location:</h3> 
        <div class="location-options">
            <label for="location1"><input type="checkbox" id="location1"> Location 1</label> <br>
            <label for="location2"><input type="checkbox" id="location2"> Location 2</label> <br>
            <label for="location3"><input type="checkbox" id="location3"> Location 3</label>
        </div>
    </div>
    <canvas id="myChart"></canvas>

<div id="rightSidePanel" class="right-side-panel">
    <!-- Close button -->
    <a href="javascript:void(0)" class="closebtn-right" onclick="closeRightNav()">&times;</a>
    
    <h2 class="menu-title">Menu</h2>
    <div class="menu-options">
        <a href="#">Predictions</a>
        <a href="{{url_for('admin.admin_dashboard')}}">Admin View</a>
        <a href="https://github.com/trevorwinser/Infinite-Loopers" target="_blank">Github</a>
        <a href="{{url_for('auth.logout')}}">Sign-out</a>
    </div>
</div>

    <script src="static/js/sidePanel.js"></script>
    <script src="static/js/dataVisualization.js"></script>
</body>
</html>
