<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/registration.css')}}">
    

    <title>HurriScan Registration
    </title>
</head>


<body>
    

    <header>
        <div class = "nav">
            <img src="{{url_for('static', filename='images/radar logo/new-logo.png')}}">
            <h1> HurriScan</h1>
        </div>
    </header>

    {% with messages = get_flashed_messages( with_categories=true) %}
        {%if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class= "alert alert-danger alter-dismissable fade show" role="alert">
            {{message}}
            <button type = "button" class ="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%else%}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {%endif%}
        {% endfor %}
       {% endif %}
    {% endwith%}

    <div class = "display">
        <div class="login-container">
            <div class="login-menu">
                <h1>Sign Up</h1>
                <form  method="post">
                    
                    <input type="text" id="email" name="email" placeholder="Email"><br>
                    <input type="text" id="firstName" name="firstName" placeholder="First Name"><br>
                    <input type="text" id="lastName" name="lastNname" placeholder="Last Name"><br>
                    <input type = "text" id = "phone", name = "phone", placeholder = "Phone Number"><br>
                    <input type = "text" id = "username", name = "username" placeholder = "Username"><br>
                    <input type="password" id="password1" name="password1" placeholder="Password"><br>
                    <input type = "password" id = "password2", name="password2" placeholder="Confirm Password"><br>
                    <input type="submit" value="Register">
                </form>
                <p>Already have an account? <a href="login.html">Log In</a></p>
            </div>
            <img src="{{url_for('static', filename = 'images/loginImg.png')}}">
        </div>
    </div>


    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/";
  });
  }
</script>
{% endblock %}


</body>
</html>