@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "roboto mono", monospace;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9EC8B9; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 500;
    padding-right: 10px;
}

.logo-section {
    
    padding-right: 10px;

}

.navbar-title {
    /*border: 3px solid #C4A8FF;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #092635; 
    font-family: "roboto Mono", monospace;
    margin-bottom: 5px;
   
}


.navbar-icon {
    height: 50px; 
}

/* The side panel (positioned to the left of the screen) */
.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    flex-direction: column; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9EC8B9; /* Purple background for the panel */
    overflow-x: hidden; 
    transition: 0.3s; 
    padding-top: 60px; 
    font-size: 15px;
}

.location-section h3{
    padding-bottom: 10px;
    padding-top: 15px;
}

.filter-section h3{
    padding-bottom: 10px;
    padding-top: 15px;
}

/* Style for labels with checkboxes (filter options) */
.location-options label, .filter-section label {
    background-color: #1B4242; /* White background */
    color: #9EC8B9;
    display: block; 
    padding: 15px; 
    margin-right: 10px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

/* The close button inside the side panel */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 36px;
}

/* The right side panel */
.right-side-panel {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; 
    background-color: #9EC8B9; 
    overflow-x: hidden;
    transition: 0.3s; 
    padding-top: 60px; 
}

/* The close button inside the right side panel */
.closebtn-right {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 15px;
}

.menu-options a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20pxpx;
    color: rgb(0, 0, 0);
    display: block; 
}

.menu-options a:hover {
    background-color: #f1f1f1;
    color: black;
}

/* Aligns the 'Menu' title towards the right side of the side panel */
.menu-title {
    margin-left: 15px; 
}


