<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin-dashboard.css') }}">
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #092635;
        }
    </style>
</head>

<body>
    <table id="user-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Alerts Email</th>
                <th>Alerts Phone</th>
                <th>Is Admin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="user-table-body"></tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/users')
                .then(response => response.json())
                .then(data => {
                    const tableBody = document.getElementById('user-table-body');
                    data.forEach(user => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.password}</td>
                            <td>${user.email}</td>
                            <td>${user.phone}</td>
                            <td>${user.alerts_email ? 'Yes' : 'No'}</td>
                            <td>${user.alerts_phone ? 'Yes' : 'No'}</td>
                            <td>${user.isAdmin ? 'Yes' : 'No'}</td>
                            <td><button onclick="deleteUser(${user.id})">Delete</button></td>
                        `;
                        tableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error:', error));
        });

        function deleteUser(userId) {
            fetch(`/delete-user/${userId}`)
            .then(response => {
                if (response.ok) {
                    console.log(`User with ID ${userId} deleted successfully`);
                    location.reload();
                } else {
                    console.error('Error deleting user');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>
