.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF7FF; /* Light background color, change as needed */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
}

.navbar-section {
    align-items: center;
}

.logo-section {
    width: 50px;
    position: relative;
    top: 10px;
}

.navbar-title {
    color: #6A4C93; 
    font-size: 44px; 
}
.navbar-tile img {
    margin: 0px;
}

.navbar-icon {
    height: 50px; 
}
