<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HurriScan - Admin Nav-Bar</title>
    <link rel = "stylesheet" href= "{{ url_for('static', filename='css/admin-nav-bar.css') }}">
</head>

<body>
        
        
<header class="navbar">
    <button class="exit-button">Exit</button>
    <div>
        <div class="navbar-title">
            <img src="{{ url_for('static', filename='images/new-logo.png') }}" alt="Logo Icon" class="logo-section">
            <h1>HurriScan</h1>
        </div>
    </div>
    <div class="navbar-section">
        <img src="{{ url_for('static', filename='images/profile_icon.png') }}" alt="Right Icon" class="navbar-icon" onclick="openRightNav()">
    </div>
</header>

<body>
    <h1> Admin Dashboard </h1>
    <!-- <iframe src="{{url_for('admin.admin_dashboard')}}" style="width:100%; height: 100%; border:none;" ></iframe> -->

    <!--<button class="exit-button">Exit</button>

        <div class="navbar-title">
            <img src="{{ url_for('static', filename='images/new-logo.png') }}" alt="Logo Icon" class = "logo-section"> 
            <h1>HurriScan</h1>
        </div>
        
        <div class="navbar-section">
            <img src="{{ url_for('static', filename='images/profile icon.png') }}" alt="Right Icon" class="navbar-icon" onclick="openRightNav()">
        </div> -->

        
        



        
        

    <div id="rightSidePanel" class="right-side-panel">
        <!-- Close button -->
        <a href="javascript:void(0)" class="closebtn-right" onclick="closeRightNav()">&times;</a>
        
        <h2 class="menu-title">Menu</h2>
        <div class="menu-options">
            <a href="#">Update Database</a>
            <a href="#" >Permission & Roles</a>
            <a href="#">Sign-out</a>
        </div>
    </div>
        <script src="admin-nav-bar.js"></script>
</body>
