<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration.css">
    <title>HurriScan Registration
    </title>
</head>


<body>
    

    <header>
        <div class = "container">
            <img src="../../images/radar logo/new-logo.png">
            <h1> HurriScan</h1>
        </div>
    </header>

    <div class = "display">
        <div class="container">
            <div class="login-menu">
                <h1>Sign Up</h1>
                <form action="accountCreation.html" method="post">
                    
                    <input type="text" id="username" name="username" placeholder="Email"><br>
                    
                    <input type="password" id="passwd" name="passwd" placeholder="Password"><br>
                    <input type="submit" value="Register">
                </form>
                <p>Already have an account? <a href="login.html">Log In</a></p>
            </div>
            <img src = "../../images/loginImg.png">
        </div>
    </div>


</body>
</html>